.select2-container--default .select2-selection--single{
    border: 1px solid #e5e9ec;
    border-radius: 1px;
}
.select2-container .select2-selection--single{
    height: 37px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 34px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    border: 1px solid #e5e9ec;
}
.select2-search input{
    margin: 7px 0px 4px;
}
.table td{
    height:30px;
}